* {
  box-sizing: border-box;
  background-color: lightgray;
  margin: 5px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  background-color: aquamarine;
  width: 200px;
}

ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: black;
  margin: 0px;
  padding: 5px;
}

nav {
  display: inline-block;
  width: 100%;
}

.nav-list {
  margin-left: 50vh;
}
li a {
  background-color: black;
  color: aquamarine;
}

li {
  background-color: black;
  list-style: none;
}

.hero-banner-grid {
  display: flex;
  background-size: cover;
  align-items: flex-end;
  position: relative;
  justify-content: end;
}

.hero-banner {
  display: grid;
  grid-template-areas: "hero hero ";
}

#subtitle {
  grid-area: hero;
  height: 300px;
  background-image: url("../images/02-hero-bg.jpg");
}

.coolsub {
  background-color: aquamarine;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
}

h2 {
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: right;
}
.project-text {
  width: 120px;
  height: 40px;
  margin-top: 13vh;
  margin-left: 10px;
}

.grid-areas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax (100px, auto);
  grid-template-areas:
    "surf surf"
    "led calc"
    "puzzels run";
}

.grid-templateAreas {
  display: grid;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 5px aquamarine solid;
  height: 150px;
}

#led-lights {
  grid-area: led;
  background-image: url("../images/02-portfolio-1.jpg");
}

#calculator {
  grid-area: calc;
  background-image: url("../images/02-portfolio-2.jpg");
}

#puzzels {
  grid-area: puzzels;
  background-image: url("../images/02-portfolio-3.jpg");
}

#surf {
  grid-area: surf;
  height: 300px;
  background-image: url("../images/02-portfolio-4.jpg");
}

#run {
  grid-area: run;
  background-image: url("../images/02-run-buddy.jpg");
}

.page-section-contact {
  width: 400%;
  margin-left: 250px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  text-align: end;
}

@media screen and (max-width: 300px) {
  body {
    color: red;
  }
}
@media screen and (max-width: 450px) {
  * {
    background-color: yellowgreen;
  }
}
